class/output/
class/*~
class/build/
class/class
class/*.prof
class/*.ini
class/libclass.a
class/*out
class/python/classy.c
class/*.pyc
class/python/build/
class/*.dSYM
class/RealSpaceInterface/cache/
class/.DS_Store
class/doc/manual/html
class/doc/manual/latex
class/init_files/
class/*.o
